### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_df = pd.DataFrame(purchase_data)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players = purchase_df["SN"].value_counts()
numPlayers_dict = [{"Total Players" : len(players)}]
numPlayers_df = pd.DataFrame(numPlayers_dict)
numPlayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#get number of unique items
uniqueItems = len(purchase_df["Item Name"].unique())
#get average price
avgPrice = purchase_df["Price"].mean()
#get number of purchases
numPurchases = len(purchase_df["Purchase ID"])
#get total revenue
totRev = purchase_df["Price"].sum()
#create list of columns to insert into data frame
columns = ["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]
# Use a data frame to create a summary table and format the float values
purchasing_summary = pd.DataFrame([[uniqueItems,avgPrice,numPurchases,totRev]],columns=list(columns))
purchasing_summary["Number of Unique Items"] = purchasing_summary["Number of Unique Items"].map("{:.0f}".format)
purchasing_summary["Average Price"] = purchasing_summary["Average Price"].map("${:,.2f}".format)
purchasing_summary["Number of Purchases"] = purchasing_summary["Number of Purchases"].map("{:.0f}".format)
purchasing_summary["Total Revenue"] = purchasing_summary["Total Revenue"].map("${:,.2f}".format)
purchasing_summary

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# get list of genders included in data
genders = ["Female","Male","Other/Non-Disclosed"]

# # # create subsets of the dataframe for male, female and other/nondisclosed
# male = purchase_df.loc[purchase_df["Gender"] == "Male", : ]
# male_unique = male("SN").nunique()
# female = purchase_df.loc[purchase_df["Gender"] == "Female", : ]
# other = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed", : ]

# # calculate perccentage of users that are male, female and other/nondisclosed
# pct_male = (male_unique/numPurchases)*100
# pct_female = (len(female)/numPurchases)*100
# pct_other = (len(other)/numPurchases)*100


gender_counts = list(purchase_df.groupby('Gender')['SN'].nunique())
gender_pct = []
for x in gender_counts:
    gender_pct.append((x/len(players))*100)
gender_pct



#create list for the columns of summary table
columns = ["","Total Count","Percentage of Players"]

#create dicitonary with summary information and convert to formatted data frame
genderSum_dict = {
    "": genders,
    "Total Count": gender_counts,
    "Percentage of Players": gender_pct}
genderSum = pd.DataFrame(genderSum_dict, columns = columns)
genderSum.set_index("",inplace=True)
genderSum["Percentage of Players"] = genderSum["Percentage of Players"].map("{:.2f}%".format)
genderSum

                     Total Count Percentage of Players

Female                        81                14.06%
Male                         484                84.03%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# calcualte purchase count series per gender
genderCounts = purchase_df["Gender"].value_counts()
# group table by gender and obtain series for avg purchase price, avg purchase total per person by gender
grouped_gender = purchase_df.groupby(['Gender'])
genderTotal = grouped_gender["Price"].sum()
genderAvg = grouped_gender["Price"].mean()
grouped_snGender = purchase_df.groupby(['Gender', 'SN']).mean()
grouped_snGender.groupby("Gender")["Price"].mean()
#grouped_snGender

# #create list for the columns of summary table
columns_genderpurchase = ["","Purchase Count","Average Purchase Price","Total Purchase Value", "Avg Total Purchase per Person"]

#create dicitonary with summary information and convert to formatted data frame
genderPurchase_dict = {
    "": genders,
    "Purchase Count": genderCounts,
    "Average Purchase Price": genderAvg,
    "Total Purchase Value" :genderTotal,
    "Avg Total Purchase per Person": grouped_snGender.groupby("Gender")["Price"].mean()}
genderPurchase = pd.DataFrame(genderPurchase_dict, columns = columns_genderpurchase)
genderPurchase.set_index("",inplace=True)
genderPurchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
,,,,
Female,113,3.203009,361.94,3.194835
Male,652,3.017853,1967.64,3.014269
Other/Non-Disclosed,15,3.346000,50.19,3.348636

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# #figure out low and high ages
# print(purchase_df["Age"].max())
# print(purchase_df["Age"].min())
# bins for ages
bins = [0, 10, 20, 30, 40, 50]
# labels for the bins
# Create labels for these bins
bin_labels = ["0 - 10", "11 - 20", "21 - 30", "31 - 40", "41 - 50"]
# put ages into bins 
pd.cut(purchase_df["Age"], bins, labels=bin_labels)
# append new column of age groups to original df
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=bin_labels)
#purchase_df.head()

# Calculate the number and percentage of users within each age group
age_count = list(purchase_df.groupby('Age Group')['SN'].nunique())
age_pct = []
for x in age_count:
    age_pct.append((x/len(players))*100)
print(age_pct)
print(age_count)

#create list for the columns of summary table
columns_ages = ["","Number in Age Group","Percentage in Age Group"]

#create dicitonary with summary information and convert to formatted data frame
ageSum_dict = {
    "": bin_labels,
    "Number in Age Group": age_count,
    "Percentage in Age Group": age_pct}
ageSum = pd.DataFrame(ageSum_dict, columns = columns_ages)
ageSum.set_index("",inplace=True)
ageSum["Percentage in Age Group"] = ageSum["Percentage in Age Group"].map("{:.2f}%".format)
ageSum

[4.166666666666666, 33.15972222222222, 50.520833333333336, 10.9375, 1.215277777777778]
[24, 191, 291, 63, 7]

         Number in Age Group Percentage in Age Group

0 - 10                    24                   4.17%
11 - 20                  191                  33.16%
21 - 30                  291                  50.52%
31 - 40                   63                  10.94%
41 - 50                    7                   1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
## Convert "Age Group" from category type ot object type
purchase_df["Age Group"] = purchase_df["Age Group"].astype('object')
# Sort by age group
purchase_df = purchase_df.sort_values("Age Group")

#calcualte purchase count series per gender
ageCounts = purchase_df["Age Group"].value_counts()
# group table by gender and obtain series for avg purchase price, avg purchase total per person by gender
grouped_age = purchase_df.groupby(['Age Group'])
ageTotal = grouped_age["Price"].sum()
ageAvg = grouped_age["Price"].mean()

# Convert "Age Group" from category type ot object type
purchase_df["Age Group"] = purchase_df["Age Group"].astype('object')
grouped_snAge = purchase_df.groupby(['Age Group', 'SN']).mean()
grouped_snAge.groupby("Age Group")["Price"].mean()
#grouped_snAge.head()


# #create list for the columns of summary table
columns_agepurchase = ["","Purchase Count","Average Purchase Price", "Avg Total Purchase per Person"]

#create dicitonary with summary information and convert to formatted data frame
agePurchase_dict = {
    "": bin_labels,
    "Purchase Count": ageCounts,
    "Average Purchase Price": ageAvg,
    #"Total Purchase Value" :ageTotal,
    "Avg Total Purchase per Person": grouped_snAge.groupby("Age Group")["Price"].mean()}
agePurchase = pd.DataFrame(agePurchase_dict, columns = columns_agepurchase)
agePurchase.set_index("",inplace=True)
agePurchase["Average Purchase Price"] = agePurchase["Average Purchase Price"].map("${:.2f}".format)
agePurchase["Avg Total Purchase per Person"] = agePurchase["Avg Total Purchase per Person"].map("${:.2f}".format)
agePurchase

         Purchase Count Average Purchase Price Avg Total Purchase per Person

0 - 10               32                  $3.40                         $3.52
11 - 20             254                  $3.06                         $3.08
21 - 30             402                  $2.99                         $2.96
31 - 40              85                  $3.15                         $3.13
41 - 50               7                  $3.08                         $3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
# group table by SN (spenders)
spenders_group = purchase_df.groupby(['SN'])
# Calculate the count, average purchase, and total purchase ammount per spender
spenders_count = spenders_group["Purchase ID"].count()
#spenders_avgPurchasePrice = spenders_group["Price"].sum()
spenders_avgPurchasePrice = spenders_group["Price"].mean()
spenders_total = spenders_group["Price"].sum()

# Create summary table of the above results
spenders_summary_table = pd.DataFrame({"Purchase Counts": spenders_count,
                                    "Average Purchase Price": spenders_avgPurchasePrice,
                                    "Total Purchase Value" : spenders_total})

# sort table by total purchase value
spenders_summary_table = spenders_summary_table.sort_values("Total Purchase Value", ascending=False)
# format the money fields
spenders_summary_table["Average Purchase Price"] = spenders_summary_table["Average Purchase Price"].map("${:.2f}".format)
spenders_summary_table["Total Purchase Value"] = spenders_summary_table["Total Purchase Value"].map("${:.2f}".format)
spenders_summary_table.head()

             Purchase Counts Average Purchase Price Total Purchase Value
SN
Lisosia93                  5                  $3.79               $18.96
Idastidru52                4                  $3.86               $15.45
Chamjask73                 3                  $4.61               $13.83
Iral74                     4                  $3.41               $13.62
Iskadarya95                3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [72]:
# retrieve item table
item_df = purchase_df[["Item ID", "Item Name", "Price"]]
item_group = item_df.groupby(["Item ID", "Item Name"])

# Calulate the count, and total purchase value of the items
item_count = item_group["Price"].count()
item_total = item_group["Price"].sum()
# Get the item price and convert to a float
item_price = item_group["Price"].unique()
item_price = item_price.astype('float')

# Create summary table of the above results
item_summary_table = pd.DataFrame({"Purchase Counts": item_count,
                                    "Item Price": item_price,
                                    "Total Purchase Value" : item_total})

# create new table sorted by purchase counts
popular_item_summary_table = item_summary_table.sort_values("Purchase Counts", ascending=False)

# format the money fields
popular_item_summary_table["Item Price"] = popular_item_summary_table["Item Price"].map("${:.2f}".format)
popular_item_summary_table["Total Purchase Value"] = popular_item_summary_table["Total Purchase Value"].map("${:.2f}".format)
popular_item_summary_table.head()

,,Purchase Counts,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [76]:
# create new table from above item summary and sort by purchase value
profit_item_summary_table = item_summary_table.sort_values("Total Purchase Value", ascending=False)

# format the money fields
profit_item_summary_table["Item Price"] = profit_item_summary_table["Item Price"].map("${:.2f}".format)
profit_item_summary_table["Total Purchase Value"] = profit_item_summary_table["Total Purchase Value"].map("${:.2f}".format)
profit_item_summary_table.head()

,,Purchase Counts,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80